.image {
    text-align: center;
    width: -webkit-fill-available;
    height: 350px;
}

.img_label {
    text-align: left;
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
    padding-top: 24px;
}

.list_item {
    padding: 0px 15px 90px 15px;
}
